anaconda==0.0.1.1
anaconda-client==1.2.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
clyent==1.2.1
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector-python==8.0.17
mysqlclient==2.0.1
protobuf==3.14.0
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
